{% extends "base.html" %}


{% block cuerpo %}

<div class="row"><!--La fila-->
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!--Columna izquierda-->

<h1>Materia</h1>

<div class="card"><!--Targeta-->
  <div class="card-body"><!--Formulario-->

    <form action="/registrarMateria/" method="POST">{% csrf_token %}

      <div class="form-group">
        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
        placeholder="Codigo Materias" minlength="4" maxlength="6" required>
      </div>

      <div class="form-group py-3">
        <input type="text" id="txtnombre" name="txtnombre" class="form-control"
        placeholder="Nombre Materias" maxlength="100" required>
      </div>

      <div class="form-group">
        <input type="text" id="numcreditos" name="numcreditos" class="form-control"
        placeholder="Creditos Materia" minlength="1" maxlength="9" required>
      </div>

      <div class="form-group py-2">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>

    </form><!--Formulario-->
  </div>

</div><!--Targeta-->

</div><!--Columna izquierda-->


<!---->
<div class="col-sm-12 col-md-8 col-lg-8 col-xl-4"><!--Columna derecha-->

<h1>Listado Materias</h1>

    <div class="table-responsive"><!--tabla responsiva-->
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">codigo</th>
                <th scope="col">nombre</th>
                <th scope="col">credito</th>
                <th colspan="2">credito</th>
              </tr>
            </thead>
            <tbody>
        {% for m in mismaterias %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{m.codigo}}</td>
                <td>{{m.nombre}}</td>
                <td>{{m.credito}}</td>
                <td> <a href="seleccionarMateria/{{m.codigo}}" class="btn btn-info"> Editar</a></td>
                <td> <a href="borrarMateria/{{m.codigo}}" class="btn btn-danger"> Borrar</a></td>
            </tr>
        {% endfor %}




            </tbody>
          </table>

    </div><!--tabla responsiva-->

</div><!--Columna derecha-->

</div><!--La fila-->


{% endblock %}